*{
    margin: 0%;
    padding: 0%;

}
#hh2{
    color: #eb3b5a; 
    margin: 10px 50px 10px 5px;   
}
.navmenu{
    margin-left: 25px;
    margin-right: 100px;
    font-weight: 700;
    letter-spacing: 1.5px;
    
}


#login{
    font-size: 15px;
    text-align:center;

    border-radius: 12px;
    padding: 10px 14px 10px 14px;
    color:white;
    background-color: #26de81;
    cursor: pointer;

}
#signup{
    font-size: 15px;
    text-align:center;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 12px;
    padding: 10px 14px 10px 14px;  
    color: white;
    background-color: #26de81;
    cursor: pointer;
}

#login:hover{
    outline: none;
    border: 1px solid black;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, 
    -3px -3px 8px #fff;
}
#signup:hover{
    outline: none;
    border: 1px solid black;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, 
    -3px -3px 8px #fff;
    

}   
.carousel-inner{
     height: 500px;
     /* border: 2px solid black; */
     background-size:auto;
 }

 .item, img{
     height: 100% ;
     width:  100% ;
     /* border: 2px solid red; */
     
 }
